---
import BaseHead from '../../../components/BaseHead.astro';
import BlogHeader from '../../../components/BlogHeader.astro';
import PrismicContent from '../../../components/PrismicContent.astro';
import { client } from '../../../prismic.ts';

const previewCookie = Astro.cookies.get("io.prismic.preview")?.value;

if (!previewCookie) {
  return Astro.redirect("/404");
}

// https://docs.astro.build/en/guides/routing/#server-ssr-mode
const { slug } = Astro.params
const posts = await client.getAllByType('blog_post', {ref: previewCookie})

const page = posts.find((post) => post.id === slug);
if (!page) return Astro.redirect("/404");

const { post } = Astro.props;

let title = post.data.title;
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';

---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href="/blog.css" />
  </head>
  <body>
    <BlogHeader />
    <div class="layout">
      <article class="content">
        <section class="intro">
        </section>
        <main>
          <PrismicContent content={post.data.body} />
        </main>
      </article>
    </div>
  </body>
</html>
